<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee     http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AddReferenceServlet</servlet-name>
        <servlet-class>fi.helsinki.cs.web.AddReferenceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateServlet</servlet-name>
        <servlet-class>fi.helsinki.cs.web.CreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetReferenceServlet</servlet-name>
        <servlet-class>fi.helsinki.cs.web.GetReferenceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrontServlet</servlet-name>
        <servlet-class>fi.helsinki.cs.web.FrontServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFrontServlet</servlet-name>
        <servlet-class>fi.helsinki.cs.web.GetFrontServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>fi.helsinki.cs.web.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddReferenceServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateServlet</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetReferenceServlet</servlet-name>
        <url-pattern>/getreference</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrontServlet</servlet-name>
        <url-pattern>/front</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFrontServlet</servlet-name>
        <url-pattern>/getfront</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>200</session-timeout>
    </session-config>
</web-app>
