<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

    <!-- passwords -->
    <entry key="mail.smtp.password"></entry>
    <entry key="mail.imap.password"></entry>
     
    <!-- smtp-settings -->
    <entry key="mail.smtp.auth">true</entry>
    <entry key="mail.smtp.starttls.enable">true</entry>
    <entry key="mail.smtp.host">smtp.gmail.com</entry>
    <entry key="mail.smtp.port">587</entry>
    <entry key="mail.smtp.user">okkopa2.2013@gmail.com</entry> 
    
    <!-- imap-settings -->
    <entry key="mail.imap.host">imap.googlemail.com</entry>  
    <entry key="mail.imap.port">993</entry>
    <entry key="mail.imap.user">okkopa2.2013@gmail.com</entry>
    <entry key="mail.imap.inboxfoldername">inbox</entry>
    <entry key="mail.imap.deleteafterprocessing">false</entry>
    <!-- Folder for processed emails, used only
    if mail.imap.deleteafterprocessing is false-->
    <entry key="mail.imap.processedfoldername">processed</entry>
    
    <!-- Message settings -->
    
    <!-- @ + domain part of the email that will be added to read qr-code string
    can leave empty when using full email in the qr-code -->
    <entry key="mail.receiver.atdomain">@mappi.helsinki.fi</entry>
    <entry key="mail.attachment.maximumsizeinmegabytes">100</entry>
    
    <!-- Don't use tabs in "mail.message.defaultbody" unless
    you want them to appear in e-mails. -->
    <entry key="mail.message.defaultbody">Please do not reply to this message via e-mail. This address is automated, unattended, and cannot help with questions or requests. </entry>
    <entry key="mail.message.defaulttopic">Sähköpostin otsikko tähän</entry>
    <entry key="mail.message.replyto">okkopa2.2013@gmail.com</entry>
    <entry key="mail.message.defaulttopic.report">Konseptipinkan raportti</entry>
     
    <!-- Database settings -->
    <!-- Url without .h2.db in the end. -->
    <entry key="database.h2.url">jdbc:h2:okkopa;FILE_LOCK=NO</entry>
    <entry key="database.h2.user">okkopa</entry>
    
    <!-- Oracle settings (Kurki) -->
    <entry key="database.oracle.host">bodbacka.cs.helsinki.fi</entry>
    <entry key="database.oracle.user">tk_testi</entry>
    <entry key="database.oracle.port">1521</entry>
    <entry key="database.oracle.instance">test</entry>
    <entry key="database.oracle.showcoursesforyears">5</entry>
    
    <!-- Ldap settings -->
    <entry key="ldap.user">ou=tikli,ou=login,o=hy</entry>
    <entry key="ldap.password"></entry>
    <entry key="ldap.keystore.file">src/main/resources/keystore</entry>
    <entry key="ldap.keystore.secret">okkopa2013</entry>
    <entry key="ldap.server.address">ldap-internal.it.helsinki.fi</entry>
    <entry key="ldap.server.port">636</entry>

    <!-- Other settings -->     
    <entry key="tikli.enable">true</entry>
    <entry key="main.minutesbetweenruns">1</entry>
    <entry key="reference.anonymous.size">9</entry>

    <!-- Exception handling -->
    <entry key="mail.deletemailswithoutattachment">false</entry>
    
    <!-- Save exam papers with unreadable qr-codes. -->
    <entry key="exampaper.saveunreadable">true</entry>
    <entry key="exampaper.saveunreadablefolder">errorpdfs</entry>
    <entry key="exampaper.deleteunreadableafterdays">14</entry>
    <entry key="exampaper.attachmentname">exam.pdf</entry>

    <!-- Time after which email send is not retried and file will be deleted. -->
    <entry key="mail.send.retryexpirationminutes">1</entry>
    <entry key="mail.send.retrysavefolder">retrypdfs</entry>
     
    <entry key="tikli.retryattempts">1</entry>
    <entry key="tikli.retrydealyinminutes">1</entry>
    <entry key="tikli.description">Koepaperi / Exam paper</entry>
    <entry key="tikli.authorid">KARKULAHTI_O</entry>
    <entry key="logger.logcompletestack">false</entry>
    
    <!-- Texts for GUI -->
    <entry key="gui.form.submit">Lähetä / Submit</entry>
    
    <entry key="gui.front.header">OKKoPa - kansisivun luonti/ OKKoPa - create front page</entry>
    <entry key="gui.front.help">Tarvitsetko apua? Ota yhteys Ossiin!/ Do you nedd help? Contact Ossi!</entry>
    <entry key="gui.front.link">Kansilehtien luonti (luennoitsijat)/ Create front page (lecturers)</entry>
    <entry key="gui.front.info">Lisätietoa kannesta/ More information</entry>
    
    <entry key="gui.front.infofield">Opiskelijoille lähtevä info/ Information wich will be sent to students.</entry>
    <entry key="gui.front.emailfield">Luennoitsijan/assarin email</entry>
    
    <entry key="gui.create.header">OKKoPa - viitteiden luonti/ OKKoPa -  create references</entry>
    <entry key="gui.create.help">Tarvitsetko apua? Ota yhteys Ossiin!/ Do you need help? Contact Ossi!</entry>
    <entry key="gui.create.link">Viitteiden luonti (vain admin) /Create references (only admin)</entry>
    <entry key="gui.create.info">Lisätietoa luonnista/ More information</entry>
    <entry key="gui.create.text.amount">Viitteiden määrä</entry>
    <entry key="gui.create.text.size">Merkkien määrä</entry>
    <entry key="gui.create.text.letters">Käytetäänkö kirjaimia</entry>
    <entry key="gui.create.text.letters.yes">Kyllä</entry>
    <entry key="gui.create.text.letters.no">Ei</entry>
    <entry key="gui.create.text.back">Mitä palautetaan</entry>
    <entry key="gui.create.text.back.txt">txt-tiedosto viitteistä</entry>
    <entry key="gui.create.text.back.zip">zip-tiedosto luoduista QR-koodeista</entry>
    
    <entry key="gui.add.header">OKKoPa - viitteiden rekisteröinti/ OKKoPa-register references</entry>
    <entry key="gui.add.help">Tarvitsetko apua? Ota yhteys Ossiin!/ Do you need help? Contact Ossi!</entry>
    <entry key="gui.add.link">Viitteiden rekisteröinti / Register references</entry>
    <entry key="gui.add.info">Lisätietoa rekisteröinnistä/ More ingormation about registration.</entry>
    
    <entry key="gui.add.text.username">Käyttäjätunnus</entry>
    <entry key="gui.add.text.code">Viitteesi</entry>
    
    <entry key="gui.add.reference.typo">Kirjoitit viitteesi väärin, tarkista oikeinkirjoitus./ Reference is incorrect. Pleace check it and try again.</entry>
    <entry key="gui.add.username.typo">Käyttäjätunnus pitää olla yli kaksi merkkiä pitkä./ Username must be at least two characters.</entry>
    <entry key="gui.add.username.ok">Homma OK! Koe tulee sinulle kunhan se on tarkistettu./ Exampaper will be sent to you. when its ready.</entry>
    <entry key="gui.add.username.double">Joku oli jo rekisteröitynyt antamallesi QR-koodille. Ota yhteyttä Ossiin, ja selvitä hässäkkä./ Reference is registered already. Contact Ossi!</entry>
    <entry key="gui.add.username.noreferenceondb">Antamaasi viitettä ei löytynyt, etkai vaan yritä syöttää paskaa sisään?/ Reference does not exist.</entry>

    <entry key="gui.add.missedexams">Rekisteröit viitteesi hieman myöhässä, joten tulevat konseptit tulevat sinulle, mutta missasit seuraavissa kellonajoissa konsepteja:/</entry>
    
</properties>